<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <!-- <link rel="stylesheet" href="./employee.css"> -->
    <link rel="stylesheet" href="~/css/layout.css">
    <!-- font-awesome link -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
    <title>@ViewData["Title"] - EmployeeManagement</title>
    @using Microsoft.AspNetCore.Identity
    @using EmployeeManagement.Areas.Identity.Data
    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager
</head>
<body>
    <!-- employeelist-wrapper -->
    <div class="wrapper">

        <!-- employeelist-slidebar -->
        <div class="sidebar">
            <!-- employeelist-sidebar-company-logo-section -->
            <div class="sidebar-company-logo-section">
                <img src="./images/logo.png" alt="company logo">
                <button class="sidebar-close-btn"><i class="fas fa-times"></i></button>
            </div>
            <!-- employeelist-sidebar-company-logo-section -->
            <ul>
                <li class="sidebarbtn">
                    <a asp-controller="ApplicationUser" asp-action="Index">
                        <i class="fas fa-users"></i>
                        <span>Userlist</span>
                    </a>
                </li>
                <li class="sidebarbtn ">
                    <a asp-controller="Employee" asp-action="Index">
                        <i class="fas fa-users"></i>
                        <span>Employeelist</span>
                    </a>
                </li>
                <li class="sidebarbtn">
                    <a>
                        <i class="fas fa-users"></i>
                        <span>Leave Request</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- employeelist-wrapper end here -->
        <!-- employeelist-main-container -->
        <div class="main-container ">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="main-container-header-section">
                    <div class="main-container-sidebar-section">
                        <button class="main-container-sidebar-btn"><i class="fas fa-bars"></i></button>
                    </div>
                    <div class="main-container-image-section" style="display: flex;">
                        <h1>Mananjay Shrestha</h1>
                        <img src="./images/profile.jpg" alt="userimage">
                    </div>
                </div>

                <!-- logout section start -->
                <div class="main-container-logout-section">
                    <!-- employeelist-user-profile-img -->
                    <div class="main-container-user-profile-img">
                        <img src="./images/profile.jpg" alt="userimage">
                        <button class="main-container-logout-section-close-btn"><i class="fas fa-times"></i></button>
                    </div>
                    <!-- employeelist-user-profile-img -->
                    <h3>@UserManager.GetUserAsync(User).Result.UserName </h3>
                    <h3 class="main-container-user-email">@UserManager.GetUserAsync(User).Result.Email</h3>
                    @*<button asp-area="Identity" asp-page="/Account/Manage/Index" id=" logout" class="employeelist-logout-btn">Sign Out</button>*@
                    <button asp-area="Identity" asp-page="/Account/Manage/Index" id=" logout" class="main-container-logout-btn" onclick="newDoc()">Sign Out</button>
                    <!-- employeelist-logout-footer-section -->
                    <div class="main-container-logout-footer-section">
                        <h3>Privacy Policy</h3>
                    </div>
                    <!-- employeelist-logout-footer-section -->
                </div>
                <!-- logout section end -->
            }
            @RenderBody()
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script src="~/js/employee.js"></script>
<script src="~/js/user.js"></script>
<script src="~/js/layout.js"></script>


