@model EmployeeManagement.Models.EmployeeViewModel
@{
    ViewData["Title"] = "Update";
    Layout = null;
}
<h1>Update Employee</h1>
<form asp-controller="Employee" asp-action="Update" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="FullName"> Enter FullName</label>
                    <input class="form-control" type="text" asp-for="FullName" placeholder="Enter your Name here" /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Address"> Enter Address</label>
                    <input class="form-control" type="text" asp-for="Address" placeholder="Enter Address here:" /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Dob"> Enter Date of birth</label>
                    <input class="form-control" type="text" asp-for="Dob" placeholder="Enter Date of birth here:" id="datepicker" /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Gender"> Enter Gender</label>
                    <select class="form-control" asp-for="Gender" asp-items="ViewBag.Gender"></select><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Update Employee</button><br />
                </div>
            </div>
        </div>
</form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <script>
        $(function () {
            debugger
            $('#datepicker').datetimepicker({
                format: 'LL'
            });
        });
    </script>
