* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.calender {
    position: relative;
    background-image: linear-gradient(134.94deg, rgba(97, 144, 232, 0.69) 0.88%, rgba(115, 110, 254, 0.74) 99.38%);
}


/* .lebal-container {
    position: absolute;
    top: 0;
    right: 0;
} */

.employee-content-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.employee-content-image-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding-right: 5px;
}

.employee-content-image h1 {
    font-size: 19px;
    letter-spacing: 2px;
}

.employee-content-image h2 {
    /* padding: 5px;
    text-align: center; */
    font-size: 19px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 400;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    /* border: 1px solid black; */
}

.employee-content-image-date h2 {
    /* padding: 5px;
    text-align: center; */
    font-size: 19px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 400;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    /* border: 1px solid black; */
}


/* month selection part */

.employee-content-month {
    position: relative;
}

.months {
    margin-right: 65px;
}

.item-select {
    background-color: transparent;
    border: none;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 400;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    color: #fff;
}

    .item-select:focus,
    .item-select:active {
        outline: none;
    }

    .item-select option {
        font-size: 14px;
        color: #fff;
        background-color: #95a5f7;
    }

.employee-content-month .icon-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 400;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

    .employee-content-month .icon-arrow .fas.fa-angle-down {
        margin-right: 0;
    }


/* month selection section ends */

.employee-image img {
    width: 8vh
}

.date-events {
    display: flex;
    text-align: center;
    align-items: center;
    /* margin: 5px;
    margin-right: 30px;
    border-radius: 10px; */
    background: rgb(0 0 0 / 25%);
    cursor: default;
    width: 100%;
}

.date {
    font-size: 25px;
    border-radius: 50%;
    background: rgba(239, 35, 60, 1);
    padding: 15px;
    margin: 10px;
    width: 60px;
    height: 60px;
}

.two {
    font-size: 20px;
}

.events {
    margin: 15px;
    text-align: start;
}

    .events h4 {
        font-size: 25px;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

    .events p {
        font-size: 20px;
        text-transform: capitalize;
    }


/* .weekdays {
    margin: 0;
    padding: 10px 0;
}

.weekdays li {
    display: inline-block;
    width: 13%;
    color: white;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}

.days {
    padding: 10px 0;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 7px;
}

.days li .active {
    padding: 7px;
    background: #1abc9c;
    color: white !important;
    border-radius: 50%;
    cursor: pointer;
}

.days li .coming-day {
    padding: 7px;
    background: grey;
    color: white !important;
    border-radius: 50%;
}

.days li .overtime {
    background: rgba(128, 0, 128, 1);
    padding: 7px;
    border-radius: 50%;
}

.days li .hday {
    background: rgba(255, 0, 0, 1);
    padding: 7px;
    border-radius: 50%;
}

.days li .late {
    background: rgba(97, 3, 3, 1);
    padding: 7px;
    border-radius: 50%;
}

.days li .pday {
    background-color: rgba(239, 35, 60, 1);
    padding: 7px;
    border-radius: 50%;
}

.days li .sick {
    background: rgba(255, 165, 0, 1);
    padding: 7px;
    border-radius: 50%;
}


.days li .today {
    background: rgba(0, 0, 255, 1);
    padding: 7px;
    border-radius: 50%;
} */

.lebal-container {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin-top: 25px;
}

.lebal li {
    font-size: 18px;
    text-transform: capitalize;
    list-style: none;
}

.late {
    color: rgba(97, 3, 3, 1);
}

.overtime {
    color: rgba(128, 0, 128, 1);
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-17,
.col-18,
.col-19,
.col-20,
.col-21,
.col-22,
.col-23,
.col-24,
.col-25,
.col-26,
.col-27,
.col-28,
.col-29,
.col-30,
.col-31,
.col-32,
.col-33,
.col-34,
.col-35,
.col-36,
.col-37,
.col-38,
.col-39,
.col-40,
.col-41,
.col-42 {
    background-color: #1abc9c
}

.col-4,
.col-12 {
    background: #610303;
}

.col-8,
.col-25 {
    background: rgba(255, 165, 0, 1);
}

.col-22,
.col-10 {
    background: rgba(239, 35, 60, 1);
}

.col-14,
.col-15,
.col-16,
.col-17,
.col-18,
.col-19 {
    background-color: #800080;
}

/* .active {
    color: #1abc9c;
} */

.hday {
    color: rgba(255, 0, 0, 1);
}

.pday {
    color: rgba(239, 35, 60, 1);
}

.sick {
    color: rgba(255, 165, 0, 1)
}

.today {
    color: rgba(0, 0, 255, 1);
}

.fas {
    margin-right: 15px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* (A) POPUP */

.picker-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

    .picker-wrap.show {
        opacity: 1;
        visibility: visible;
    }

    .picker-wrap .picker {
        margin: 50vh auto 0 auto;
        transform: translateY(-50%);
    }


/* (B) CONTAINER */

.picker {
    /* max-width: 300px; */
    /* border: 1px solid #eee;
    background: #fafafa; */
    padding: 10px;
}


/* (C) MONTH + YEAR */

.picker-m,
.picker-y {
    color: white;
    background: none;
    width: 50%;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    outline: none
}

option {
    font-size: 15px;
    height: 50px;
    color: black;
    background-color: transparent;
}


/* 
option ::-webkit-scrollbar {
    width: 100px;
} */

.picker-y::-webkit-scrollbar {
    width: 1em;
}


/* (D) DAY */

.picker-d table {
    border-spacing: 4px 7px;
    color: #333;
    border-collapse: separate;
    width: 100%;
    margin-top: 10px;
}

    .picker-d table td {
        width: 14.28%;
        /* 7 EQUAL COLUMNS */
        /* padding: 5px; */
        text-align: center;
    }


/* HEADER */

.picker-d-h td {
    font-weight: bold;
    font-size: 15px;
}


/* BLANK DATES */


/* .picker-d-b {
    background: #ddd;
} */


/* TODAY */


/* .picker-d-td {
    background: #ffe0d4;
} */


/* PICKABLE DATES */

.picker-d-d:hover {
    cursor: pointer;
    /* background: #2d68c4; */
    color: #fff;
}


/* UNPICKABLE DATES */


/* .picker-d-dd {
    color: #aaa;
    background: #ddd;
} */

.picker-d-d {
    border-radius: 50%;
    color: white;
    padding: 14px;
    /* background-color: aqua; */
    font-size: 15px;
}

    .picker-d-d:last-child {
        background-color: red;
    }


/* .sick:nth-child(1) {
    background-color: blueviolet;
} */


/* --------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width:768px) {
    .picker-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s;
    }

        .picker-wrap.show {
            opacity: 1;
            visibility: visible;
        }

        .picker-wrap .picker {
            margin: 50vh auto 0 auto;
            transform: translateY(-50%);
        }
    /* (B) CONTAINER */
    .picker {
        max-width: 100%;
        /* border: 1px solid #eee;
        background: #fafafa; */
        padding: 10px;
    }
    /* (C) MONTH + YEAR */
    .picker-m,
    .picker-y {
        background: none;
        width: 50%;
        border: none;
        padding: 5px;
        box-sizing: border-box;
        font-size: 30px;
        text-align: center;
        overflow: scroll;
        outline: none;
    }
    /* (D) DAY */
    .picker-d table {
        border-spacing: 24px 7px;
        color: #333;
        border-collapse: separate;
        width: 100%;
        margin-top: 10px;
    }

        .picker-d table td {
            width: 14.28%;
            /* 7 EQUAL COLUMNS */
            /* padding: 5px; */
            text-align: center;
        }
    /* HEADER */
    .picker-d-h td {
        font-weight: bold;
        font-size: 15px;
    }
    /* BLANK DATES */
    /* .picker-d-b {
        background: #ddd;
    } */
    /* TODAY */
    /* .picker-d-td {
        background: #ffe0d4;
    } */
    /* PICKABLE DATES */
    .picker-d-d:hover {
        cursor: pointer;
        /* background: #2d68c4; */
        color: #fff;
    }
    /* UNPICKABLE DATES */
    .picker-d-dd {
        color: #aaa;
        background: #ddd;
    }

    .picker-d-d {
        border-radius: 50%;
        padding: 14px;
        /* background-color: aqua; */
        font-size: 15px;
    }

        .picker-d-d:last-child {
            background-color: red;
        }

    .main-body {
        width: 800px;
        margin: 80px auto;
    }

    .employee-content-image {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 25px;
    }

        .employee-content-image h1 {
            font-size: 25px;
            letter-spacing: 2px;
            /* margin-top: 5px;
        margin-bottom: 15px; */
        }

        .employee-content-image h2 {
            /* padding: 5px;
        text-align: center; */
            font-size: 20px;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-weight: 400;
            text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
            /* border: 1px solid black; */
        }

    .employee-content-image-date {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5px;
        padding-left: 16px;
    }

        .employee-content-image-date h2 {
            font-size: 30px;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-weight: 400;
            margin-left: 25px;
            margin-right: 74px;
            text-shadow: 1px 2px 1px rgb(0 0 0 / 25%);
        }

    .employee-image img {
        width: 12vh;
        margin-right: 10px;
    }

    .date-events {
        display: flex;
        flex-direction: column;
        /* padding-top: 5px;
        text-align: center;
        margin-top: 25px;
        margin-right: 30px;
        border-radius: 10px; */
        height: 275px;
        width: 250px;
        background: rgb(0 0 0 / 25%);
        justify-content: flex-start;
    }

    .date {
        font-size: 40px;
        border-radius: 50%;
        /* background: rgba(239, 35, 60, 1); */
        padding: 26px;
        margin: 10px;
        height: 80px;
        width: 80px;
    }

    .events {
        /* margin: 15px;
        text-align: start; */
    }

        .events h4 {
            font-size: 22px;
            letter-spacing: 1px;
            font-weight: lighter;
        }

        .events p {
            font-size: 25px;
            text-transform: capitalize;
            text-align: center;
        }
    /* .weekdays {
        margin: 0;
        padding: 10px 0;
    } */
    /* .weekdays li {
        display: inline-block;
        width: 13%;
        color: white;
        text-align: center;
        font-size: 30px;
        text-transform: capitalize;
        margin-right: 2px;
    } */
    /* .days {
        padding: 10px 0;
        margin: 0;
    }
    .days li {
        display: inline-block;
        width: 13%;
        text-align: center;
        margin-bottom: 45px;
        margin-right: 2px;
        font-size: 25px;
    }
    .days li .active {
        padding: 15px;
        background: #1abc9c;
        color: white !important;
        border-radius: 50%;
    }
    .days li .coming-day {
        padding: 15px;
        background: grey;
        color: white !important;
        border-radius: 50%;
    }
    .days li .overtime {
        background: rgba(128, 0, 128, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .hday {
        background: rgba(255, 0, 0, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .late {
        background: rgba(97, 3, 3, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .pday {
        background-color: rgba(239, 35, 60, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .sick {
        background: rgba(255, 165, 0, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .today {
        background: rgba(0, 0, 255, 1);
        padding: 15px;
        border-radius: 50%;
    } */
    .lebal-container {
        position: absolute;
        top: 0;
        right: 0;
    }

    .lebal li {
        font-size: 17px;
        margin-bottom: 13 px;
        text-transform: capitalize;
        list-style: none;
    }

    .new {
        display: flex;
        align-items: center;
    }

    #pick-inline {
        margin-top: -25px;
    }

    .two {
        font-size: 25px;
    }
}

.days li p {
    display: none;
}

@media screen and (min-width:992px) {
    .picker-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s;
    }

        .picker-wrap.show {
            opacity: 1;
            visibility: visible;
        }

        .picker-wrap .picker {
            margin: 50vh auto 0 auto;
            transform: translateY(-50%);
        }
    /* (B) CONTAINER */
    .picker {
        max-width: 100%;
        /* border: 1px solid #eee;
        background: #fafafa; */
        padding: 10px;
    }
    /* (C) MONTH + YEAR */
    .picker-m,
    .picker-y {
        background: none;
        width: 50%;
        border: none;
        padding: 5px;
        box-sizing: border-box;
        font-size: 30px;
        text-align: center;
        overflow: scroll;
        outline: none;
    }
    /* (D) DAY */
    .picker-d table {
        border-spacing: 24px 7px;
        color: #333;
        border-collapse: separate;
        width: 100%;
        margin-top: 10px;
    }

        .picker-d table td {
            width: 14.28%;
            /* 7 EQUAL COLUMNS */
            /* padding: 5px; */
            text-align: center;
        }
    /* HEADER */
    .picker-d-h td {
        font-weight: bold;
        font-size: 15px;
    }
    /* BLANK DATES */
    /* .picker-d-b {
        background: #ddd;
    } */
    /* TODAY */
    /* .picker-d-td {
        background: #ffe0d4;
    } */
    /* PICKABLE DATES */
    .picker-d-d:hover {
        cursor: pointer;
        /* background: #2d68c4; */
        color: #fff;
    }
    /* UNPICKABLE DATES */
    .picker-d-dd {
        color: #aaa;
        background: #ddd;
    }

    .picker-d-d {
        border-radius: 50%;
        padding: 14px;
        /* background-color: aqua; */
        font-size: 15px;
    }

        .picker-d-d:last-child {
            background-color: red;
        }

    .main-body {
        width: 800px;
        margin: 80px auto;
    }

    .employee-content-image {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 25px;
    }

        .employee-content-image h1 {
            font-size: 25px;
            letter-spacing: 2px;
            /* margin-top: 5px;
        margin-bottom: 15px; */
        }

        .employee-content-image h2 {
            /* padding: 5px;
        text-align: center; */
            font-size: 20px;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-weight: 400;
            text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
            /* border: 1px solid black; */
        }

    .employee-content-image-date {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5px;
        padding-left: 16px;
    }

        .employee-content-image-date h2 {
            font-size: 30px;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-weight: 400;
            margin-left: 25px;
            margin-right: 74px;
            text-shadow: 1px 2px 1px rgb(0 0 0 / 25%);
        }

    .employee-image img {
        width: 12vh;
        margin-right: 10px;
    }

    .date-events {
        display: flex;
        flex-direction: column;
        /* padding-top: 5px;
        text-align: center;
        margin-top: 25px;
        margin-right: 30px;
        border-radius: 10px; */
        height: 275px;
        width: 250px;
        background: rgb(0 0 0 / 25%);
        justify-content: flex-start;
    }

    .date {
        font-size: 40px;
        border-radius: 50%;
        /* background: rgba(239, 35, 60, 1); */
        padding: 26px;
        margin: 10px;
        height: 80px;
        width: 80px;
    }

    .events {
        /* margin: 15px;
        text-align: start; */
    }

        .events h4 {
            font-size: 22px;
            letter-spacing: 1px;
            font-weight: lighter;
        }

        .events p {
            font-size: 25px;
            text-transform: capitalize;
            text-align: center;
        }
    /* .weekdays {
        margin: 0;
        padding: 10px 0;
    } */
    /* .weekdays li {
        display: inline-block;
        width: 13%;
        color: white;
        text-align: center;
        font-size: 30px;
        text-transform: capitalize;
        margin-right: 2px;
    } */
    /* .days {
        padding: 10px 0;
        margin: 0;
    }
    .days li {
        display: inline-block;
        width: 13%;
        text-align: center;
        margin-bottom: 45px;
        margin-right: 2px;
        font-size: 25px;
    }
    .days li .active {
        padding: 15px;
        background: #1abc9c;
        color: white !important;
        border-radius: 50%;
    }
    .days li .coming-day {
        padding: 15px;
        background: grey;
        color: white !important;
        border-radius: 50%;
    }
    .days li .overtime {
        background: rgba(128, 0, 128, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .hday {
        background: rgba(255, 0, 0, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .late {
        background: rgba(97, 3, 3, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .pday {
        background-color: rgba(239, 35, 60, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .sick {
        background: rgba(255, 165, 0, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .today {
        background: rgba(0, 0, 255, 1);
        padding: 15px;
        border-radius: 50%;
    } */
    .lebal-container {
        position: absolute;
        top: 0;
        right: 0;
    }

    .lebal li {
        font-size: 17px;
        margin-bottom: 13 px;
        text-transform: capitalize;
        list-style: none;
    }

    .new {
        display: flex;
        align-items: center;
    }

    #pick-inline {
        margin-top: -25px;
    }

    .two {
        font-size: 25px;
    }
}

@media screen and (min-width:1200px) {
    .picker-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s;
    }

        .picker-wrap.show {
            opacity: 1;
            visibility: visible;
        }

        .picker-wrap .picker {
            margin: 50vh auto 0 auto;
            transform: translateY(-50%);
        }
    /* (B) CONTAINER */
    .picker {
        max-width: 100%;
        /* border: 1px solid #eee;
        background: #fafafa; */
        padding: 10px;
    }
    /* (C) MONTH + YEAR */
    .picker-m,
    .picker-y {
        background: none;
        width: 50%;
        border: none;
        padding: 5px;
        box-sizing: border-box;
        font-size: 30px;
        text-align: center;
        overflow: scroll;
        outline: none;
    }
    /* (D) DAY */
    .picker-d table {
        border-spacing: 24px 7px;
        color: #333;
        border-collapse: separate;
        width: 100%;
        margin-top: 10px;
    }

        .picker-d table td {
            width: 14.28%;
            /* 7 EQUAL COLUMNS */
            /* padding: 5px; */
            text-align: center;
        }
    /* HEADER */
    .picker-d-h td {
        font-weight: bold;
        font-size: 15px;
    }
    /* BLANK DATES */
    /* .picker-d-b {
        background: #ddd;
    } */
    /* TODAY */
    /* .picker-d-td {
        background: #ffe0d4;
    } */
    /* PICKABLE DATES */
    .picker-d-d:hover {
        cursor: pointer;
        /* background: #2d68c4; */
        color: #fff;
    }
    /* UNPICKABLE DATES */
    .picker-d-dd {
        color: #aaa;
        background: #ddd;
    }

    .picker-d-d {
        border-radius: 50%;
        padding: 14px;
        /* background-color: aqua; */
        font-size: 15px;
    }

        .picker-d-d:last-child {
            background-color: red;
        }

    .main-body {
        width: 800px;
        margin: 80px auto;
    }

    .employee-content-image {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 25px;
    }

        .employee-content-image h1 {
            font-size: 25px;
            letter-spacing: 2px;
            /* margin-top: 5px;
        margin-bottom: 15px; */
        }

        .employee-content-image h2 {
            /* padding: 5px;
        text-align: center; */
            font-size: 20px;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-weight: 400;
            text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
            /* border: 1px solid black; */
        }

    .employee-content-image-date {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5px;
        padding-left: 16px;
    }

        .employee-content-image-date h2 {
            font-size: 30px;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-weight: 400;
            margin-left: 25px;
            margin-right: 74px;
            text-shadow: 1px 2px 1px rgb(0 0 0 / 25%);
        }

    .employee-image img {
        width: 12vh;
        margin-right: 10px;
    }

    .date-events {
        display: flex;
        flex-direction: column;
        /* padding-top: 5px;
        text-align: center;
        margin-top: 25px;
        margin-right: 30px;
        border-radius: 10px; */
        height: 275px;
        width: 250px;
        background: rgb(0 0 0 / 25%);
        justify-content: flex-start;
    }

    .date {
        font-size: 40px;
        border-radius: 50%;
        /* background: rgba(239, 35, 60, 1); */
        padding: 26px;
        margin: 10px;
        height: 80px;
        width: 80px;
    }

    .events {
        /* margin: 15px;
        text-align: start; */
    }

        .events h4 {
            font-size: 22px;
            letter-spacing: 1px;
            font-weight: lighter;
        }

        .events p {
            font-size: 25px;
            text-transform: capitalize;
            text-align: center;
        }
    /* .weekdays {
        margin: 0;
        padding: 10px 0;
    } */
    /* .weekdays li {
        display: inline-block;
        width: 13%;
        color: white;
        text-align: center;
        font-size: 30px;
        text-transform: capitalize;
        margin-right: 2px;
    } */
    /* .days {
        padding: 10px 0;
        margin: 0;
    }
    .days li {
        display: inline-block;
        width: 13%;
        text-align: center;
        margin-bottom: 45px;
        margin-right: 2px;
        font-size: 25px;
    }
    .days li .active {
        padding: 15px;
        background: #1abc9c;
        color: white !important;
        border-radius: 50%;
    }
    .days li .coming-day {
        padding: 15px;
        background: grey;
        color: white !important;
        border-radius: 50%;
    }
    .days li .overtime {
        background: rgba(128, 0, 128, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .hday {
        background: rgba(255, 0, 0, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .late {
        background: rgba(97, 3, 3, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .pday {
        background-color: rgba(239, 35, 60, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .sick {
        background: rgba(255, 165, 0, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .today {
        background: rgba(0, 0, 255, 1);
        padding: 15px;
        border-radius: 50%;
    } */
    .lebal-container {
        position: absolute;
        top: 0;
        right: 0;
    }

    .lebal li {
        font-size: 17px;
        margin-bottom: 13 px;
        text-transform: capitalize;
        list-style: none;
    }

    .new {
        display: flex;
        align-items: center;
    }

    #pick-inline {
        margin-top: -25px;
    }

    .two {
        font-size: 25px;
    }
}

@media screen and (min-width:1400px) {
    .picker-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s;
    }

        .picker-wrap.show {
            opacity: 1;
            visibility: visible;
        }

        .picker-wrap .picker {
            margin: 50vh auto 0 auto;
            transform: translateY(-50%);
        }
    /* (B) CONTAINER */
    .picker {
        max-width: 100%;
        /* border: 1px solid #eee;
        background: #fafafa; */
        padding: 10px;
    }
    /* (C) MONTH + YEAR */
    .picker-m,
    .picker-y {
        background: none;
        width: 50%;
        border: none;
        padding: 5px;
        box-sizing: border-box;
        font-size: 30px;
        text-align: center;
        overflow: scroll;
        outline: none;
    }
    /* (D) DAY */
    .picker-d table {
        border-spacing: 24px 7px;
        color: #333;
        border-collapse: separate;
        width: 100%;
        margin-top: 10px;
    }

        .picker-d table td {
            width: 14.28%;
            /* 7 EQUAL COLUMNS */
            /* padding: 5px; */
            text-align: center;
        }
    /* HEADER */
    .picker-d-h td {
        font-weight: bold;
        font-size: 15px;
    }
    /* BLANK DATES */
    /* .picker-d-b {
        background: #ddd;
    } */
    /* TODAY */
    /* .picker-d-td {
        background: #ffe0d4;
    } */
    /* PICKABLE DATES */
    .picker-d-d:hover {
        cursor: pointer;
        /* background: #2d68c4; */
        color: #fff;
    }
    /* UNPICKABLE DATES */
    .picker-d-dd {
        color: #aaa;
        background: #ddd;
    }

    .picker-d-d {
        border-radius: 50%;
        padding: 14px;
        /* background-color: aqua; */
        font-size: 15px;
    }

        .picker-d-d:last-child {
            background-color: red;
        }

    .main-body {
        width: 800px;
        margin: 80px auto;
    }

    .employee-content-image {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 25px;
    }

        .employee-content-image h1 {
            font-size: 25px;
            letter-spacing: 2px;
            /* margin-top: 5px;
        margin-bottom: 15px; */
        }

        .employee-content-image h2 {
            /* padding: 5px;
        text-align: center; */
            font-size: 20px;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-weight: 400;
            text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
            /* border: 1px solid black; */
        }

    .employee-content-image-date {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5px;
        padding-left: 16px;
    }

        .employee-content-image-date h2 {
            font-size: 30px;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-weight: 400;
            margin-left: 25px;
            margin-right: 74px;
            text-shadow: 1px 2px 1px rgb(0 0 0 / 25%);
        }

    .employee-image img {
        width: 12vh;
        margin-right: 10px;
    }

    .date-events {
        display: flex;
        flex-direction: column;
        /* padding-top: 5px;
        text-align: center;
        margin-top: 25px;
        margin-right: 30px;
        border-radius: 10px; */
        height: 275px;
        width: 250px;
        background: rgb(0 0 0 / 25%);
        justify-content: flex-start;
    }

    .date {
        font-size: 40px;
        border-radius: 50%;
        /* background: rgba(239, 35, 60, 1); */
        padding: 26px;
        margin: 10px;
        height: 80px;
        width: 80px;
    }

    .events {
        /* margin: 15px;
        text-align: start; */
    }

        .events h4 {
            font-size: 22px;
            letter-spacing: 1px;
            font-weight: lighter;
        }

        .events p {
            font-size: 25px;
            text-transform: capitalize;
            text-align: center;
        }
    /* .weekdays {
        margin: 0;
        padding: 10px 0;
    } */
    /* .weekdays li {
        display: inline-block;
        width: 13%;
        color: white;
        text-align: center;
        font-size: 30px;
        text-transform: capitalize;
        margin-right: 2px;
    } */
    /* .days {
        padding: 10px 0;
        margin: 0;
    }
    .days li {
        display: inline-block;
        width: 13%;
        text-align: center;
        margin-bottom: 45px;
        margin-right: 2px;
        font-size: 25px;
    }
    .days li .active {
        padding: 15px;
        background: #1abc9c;
        color: white !important;
        border-radius: 50%;
    }
    .days li .coming-day {
        padding: 15px;
        background: grey;
        color: white !important;
        border-radius: 50%;
    }
    .days li .overtime {
        background: rgba(128, 0, 128, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .hday {
        background: rgba(255, 0, 0, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .late {
        background: rgba(97, 3, 3, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .pday {
        background-color: rgba(239, 35, 60, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .sick {
        background: rgba(255, 165, 0, 1);
        padding: 15px;
        border-radius: 50%;
    }
    .days li .today {
        background: rgba(0, 0, 255, 1);
        padding: 15px;
        border-radius: 50%;
    } */
    .lebal-container {
        position: absolute;
        top: 0;
        right: 0;
    }

    .lebal li {
        font-size: 17px;
        margin-bottom: 13 px;
        text-transform: capitalize;
        list-style: none;
    }

    .new {
        display: flex;
        align-items: center;
    }

    #pick-inline {
        margin-top: -25px;
    }

    .two {
        font-size: 25px;
    }
}

@media screen and (min-width:1980px) {
    .main-body {
        width: 924px;
        margin: 155px auto;
    }

    .employee-content-image {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 25px;
    }

        .employee-content-image h1 {
            font-size: 30px;
            letter-spacing: 2px;
            margin-top: 5px;
            margin-bottom: 15px;
        }

        .employee-content-image h2 {
            /* padding: 5px;
        text-align: center; */
            font-size: 25px;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-weight: 400;
            text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
            /* border: 1px solid black; */
        }

    .employee-content-image-date {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5px;
        padding-left: 16px;
    }

        .employee-content-image-date h2 {
            font-size: 30px;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-weight: 400;
            margin-left: 25px;
            margin-right: 74px;
            text-shadow: 1px 2px 1px rgb(0 0 0 / 25%);
        }

    .employee-image img {
        width: 10vh;
        margin-right: 10px;
    }

    .date-events {
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        text-align: center;
        align-items: center;
        margin-top: 25px;
        margin-right: 30px;
        border-radius: 10px;
        height: 440px;
        background: rgb(0 0 0 / 25%);
    }

    .date {
        font-size: 40px;
        border-radius: 50%;
        background: rgba(239, 35, 60, 1);
        padding: 30px;
        margin: 10px;
    }

    .events {
        margin: 15px;
        text-align: start;
    }

        .events h4 {
            font-size: 30px;
            letter-spacing: 1px;
        }

        .events p {
            font-size: 25px;
            text-transform: capitalize;
            text-align: center;
        }

    .weekdays {
        margin: 0;
        padding: 10px 0;
    }

        .weekdays li {
            display: inline-block;
            width: 13%;
            color: white;
            text-align: center;
            font-size: 30px;
            text-transform: capitalize;
            margin-right: 2px;
        }

    .days {
        padding: 10px 0;
        margin: 0;
    }

        .days li {
            display: inline-block;
            width: 13%;
            text-align: center;
            margin-bottom: 45px;
            margin-right: 2px;
            font-size: 25px;
        }

            .days li .active {
                padding: 15px;
                background: #1abc9c;
                color: white !important;
                border-radius: 50%;
            }

            .days li .coming-day {
                padding: 15px;
                background: grey;
                color: white !important;
                border-radius: 50%;
            }

            .days li .overtime {
                background: rgba(128, 0, 128, 1);
                padding: 15px;
                border-radius: 50%;
            }

            .days li .hday {
                background: rgba(255, 0, 0, 1);
                padding: 15px;
                border-radius: 50%;
            }

            .days li .late {
                background: rgba(97, 3, 3, 1);
                padding: 15px;
                border-radius: 50%;
            }

            .days li .pday {
                background-color: rgba(239, 35, 60, 1);
                padding: 15px;
                border-radius: 50%;
            }

            .days li .sick {
                background: rgba(255, 165, 0, 1);
                padding: 15px;
                border-radius: 50%;
            }

            .days li .today {
                background: rgba(0, 0, 255, 1);
                padding: 15px;
                border-radius: 50%;
            }

    .lebal-container {
        position: absolute;
        top: 0;
        right: 0;
    }

    .lebal li {
        font-size: 22px;
        margin-bottom: 13px;
        text-transform: capitalize;
        list-style: none;
    }

    .new {
        display: flex;
        align-items: center;
    }
}
