@model EmployeeManagement.Areas.Identity.Data.ApplicationUserViewModel
@{
}
<link rel="stylesheet" href="~/css/site.css">
<div class="main-container-title-section">
    <h1>Holiday</h1>
</div>
    <div class="main-container-holiday-section">
        <div class="holiday-section-wrapper">
            <div class="holiday-form-section">
                <div class="holiday-form-section-logo">
                    <img src="~/images/logo.png" alt="company logo">
                </div>
                <form action="">
                    <div class="holiday-name">
                        <Label>Holiday Name:</Label>
                        <input type="text">
                    </div>
                    <div class="holiday-date">
                        <label for="">Date:</label>
                        <input type="date">
                    </div>

                    <input type="submit" class="holidaysubmitbtn">
                </form>
            </div>
        </div>
    </div>
