@model EmployeeManagement.Areas.Identity.Data.ApplicationUserViewModel
@{
    Layout = null;
}
<!-- userlist-title-section start here -->
<div class="userlist-title-section">
    <h1>User List</h1>
</div>
<!-- userlist-title-section end here -->
<div class="main-container-search-create-section">
    <!-- userlist-create-section start here -->
    <div class="main-container-create-section">
        <button class="main-container-create-section-btn" id="btnAdd">+ Create User</button>
    </div>
    <!-- userlist-create-section end here -->
    <!-- userlist-search-section start here -->
    <div class="main-container-search-section">
        <form action="" class="main-container-search-section-form">
            <input id="txtVal" type="text" placeholder="Username" class="main-container-search-box">
            <button id="btnSearch" type="submit" class="main-container-search-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- userlist-search-section end here -->
</div>
<!-- userlist-list-section start here -->
<div class="userlist-list-section">
    <!-- userlist-list-header-section start here -->
    <div class="userlist-list-header-section">
        <div class="name">Name</div>
        <div class="userlist-username">Username</div>
        <div class="userlist-email">Email</div>
        <div class="userlist-designation">Designation</div>
    </div>
    @foreach (var user in Model.UsersList)
    {
        if (user.UserName != "admin")
        {
            <div class="userlist-firstrowlist-section">
                <div class="userlist-name-value">@user.FullName</div>
                <div class="userlist-username-value">@user.UserName</div>
                <div class="userlist-email-value">@user.Email</div>
                <div class="userlist-designation-value">@user.Designation</div>
            </div>
        }
    }
</div>

